<!--
<div *ngIf="vehiculo">
<div>
  <label>Marca:
    <input [(ngModel)]="vehiculo.arca" placeholder="name"/>
  </label>
</div>
<div>
  <label>Linea:
    <input [(ngModel)]="vehiculo.linea" placeholder="linea"/>
  </label>
</div>
<div>
  <label>Placa:
    <input [(ngModel)]="vehiculo.placa" placeholder="placa"/>
  </label>
</div>
<div>
  <label>Modelo:
    <input [(ngModel)]="vehiculo.modelo" placeholder="modelo"/>
  </label>
</div>
<div>
  <label>Color:
    <input [(ngModel)]="vehiculo.color" placeholder="color"/>
  </label>
</div>
</div>
-->
