<p>
  creacion-persona works!
</p>



<script>
   angular.module('inputExample', [])
     .controller('ExampleController', ['$scope', function($scope) {
       $scope.user = {name: 'guest', last: 'visitor'};
     }]);
</script>

<!--THIS NEEDS A LOT OF IMPROVEMENT!!-->

<div ng-controller="ExampleController">
  <form name="myForm">
    <label>
       ID:
       <input type="text" name="idPersona" ng-model="id.persona" required>
    </label>
    <div>
    </div>
    <label>
       Numero ID:
       <input type="text" name="idNumero" ng-model="id.numero" required>
    </label>
    <div>
    </div>
    <label>
       Nombre:
       <input type="text" name="nombrePersona" ng-model="nombre.persona" required>
    </label>
    <div>
    </div>
    <label>
       Apellido:
       <input type="text" name="apellidoPersona" ng-model="apellido.persona" required>
    </label>
    <div>
    </div>
    <label>
       Tipo ID:
       <input type="text" name="idTipo" ng-model="tipo.id" required>
    </label>
    <div>
    </div>
  </form>
  <hr>
  <tt>user = {{user}}</tt><br/>
  <tt>myForm.userName.$valid = {{myForm.userName.$valid}}</tt><br/>
  <tt>myForm.userName.$error = {{myForm.userName.$error}}</tt><br/>
  <tt>myForm.lastName.$valid = {{myForm.lastName.$valid}}</tt><br/>
  <tt>myForm.lastName.$error = {{myForm.lastName.$error}}</tt><br/>
  <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
  <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
  <tt>myForm.$error.minlength = {{!!myForm.$error.minlength}}</tt><br/>
  <tt>myForm.$error.maxlength = {{!!myForm.$error.maxlength}}</tt><br/>
</div>

